.about-page
{
    top: 20%;
    left: 20%;
    width:80%;
    display: flex;

    .text-zone
    {
        text-align: left;
        width:60%;
        line-height: 1.7;

        h1
        {
            font-size: 50px;
            color: azure;
            font-family:'Arial';
            font-weight: 400;
        }
        p
        {
            font-size: 20px;
            font-family: 'Arial';
            text-align: justify;
            text-justify: inter-word;
            color:white;
        };
    }
    .logos
    {

        display: flex;
        flex-direction: column;
        margin: 150px 120px;
        img
        {
            width:100px;
            height: 100px;
            margin-bottom: 20px;
        }
    }
}