.contact-page
{
    top: 20%;
    left: 20%;
    width:100%;
    display: flex;

    .text-zone
    {
        text-align: left;
        width:60%;
        line-height: 1.7;

        h1
        {
            font-size: 50px;
            color: yellow;
            font-family:'Arial';
            font-weight: 400;
        }
        p
        {
            font-size: 20px;
            font-family: 'Arial';
            text-align: justify;
            text-justify: inter-word;
            color:white;
        };
    }
    .contact-form
    {
        width:100%;
        margin-top: 20px;

        ul
        {
            padding: 0;
            margin: 0;

            input,textarea {
                border: none;
                background-color: #126491b4;
            }

            textarea::placeholder,input::placeholder
            {
                color: white;
            }

            li
            {
                padding: 0;
                margin: 0;
                list-style: none;
                margin-bottom: 7px;
                overflow: hidden;
                display: block;
                position: relative;
            }
            input[type='text'],input[type='email']
            {
                width:500px;
                padding: 9px 20px;
            }
            textarea
            {
                padding: 30px;
                width:480px;
            }

            input[type='submit']
            {
                border: none;
                padding: 10px 20px;
                background-color: rgba(17, 26, 158, 0.801);
                color: white;
                font-size: 20px;
            }
        }
    }
}